html,body{
  height:100%;
}

body{
  display:flex;
  justify-content:center;
  align-items:center;
}

.board-wrap{
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;  
  padding: 1rem;
  background: 
      linear-gradient(to top right,rgb(15, 11, 7),rgba(128, 83, 0, 0.541)),
      linear-gradient(to top left,rgba(54, 35, 23, 0.904),transparent);
  border-radius:100%;
  box-shadow:-5px 6px 5px 1px #333,
  inset -2px 2px 5px 1px rgb(153, 142, 121);
}

.board{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width:20em;
  height:20em;
  border:5px solid #ccc;
  border-radius:100%;
}

.button{
  position: relative;
  background:url("https://opengameart.org/sites/default/files/set9-example1.png");
  background-size:110%;
  background-position: center;
  margin:1px;
  cursor:pointer;
  overflow: hidden;
  display:flex;
  align-items:center;
  justify-content: center;
  border-top-left-radius:100%;
}

.button::before{
  position: absolute;
  content:'';
  width:60px;
  height:60px;
  background-image:url("https://opengameart.org/sites/default/files/Sci%20Fi%20Holed%20Metal%20Decorations.png");
  background-size:250px;
}

.button::after{
  position: absolute;
  content:'';
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-top-left-radius:100%;
  background-color:rgba(0,0,0,0.85);
  
}

#button-top-left{
  transform:rotate(0deg);
}

#button-top-left.active::after{
  background:
    linear-gradient(60deg,rgb(165, 80, 24) 2%,rgba(255,137,58,0.9) 80%,transparent),
    linear-gradient(120deg,rgb(247, 182, 139) 90%,rgba(255,137,58,1) 70%,rgba(255,255,255,1)10%);

}

#button-top-right{
  transform:rotate(90deg);
}

#button-top-right.active::after{
  background:linear-gradient(to top left,rgb(87, 126, 25) 1%,rgba(138,201,38,1) 50%,rgba(255,255,255,0.9));
}

#button-bottom-left{
  transform:rotate(270deg);
}

#button-bottom-left.active::after{
  background:linear-gradient(to bottom right,rgb(1, 68, 64) 1%,rgba(3,181,170,1) 50%,rgba(255,255,255,0.9));
}

#button-bottom-right{
  transform:rotate(180deg);
}

#button-bottom-right.active::after{
  background:linear-gradient(210deg,rgb(1, 1, 1) 1%,rgba(19,21,66,1) 60%,rgb(83, 85, 138) 95%,rgb(107, 108, 158)98%);
}

.panel-wrap{
  position:absolute;
  padding:10px;
  background: 
      linear-gradient(to top right,rgb(15, 11, 7),rgb(122, 95, 45)),
      linear-gradient(to top left,rgb(54, 35, 23),transparent);
  border-radius: 30%;
  height:4em;
  width:4em;
  display:flex;
  -webkit-box-shadow: inset -2px 2px 3px 2px rgba(255,255,255,1);
  -moz-box-shadow: inset -6px 6px 3px 2px rgba(255,255,255,1);
  box-shadow: inset -2px 2px 5px 1px rgb(128, 113, 85);
}

.panel{
  padding:10px;
  background:black;
  border-radius:30%;
  flex-grow:1;
  color:white;
  display:flex;
  align-items: center;
  justify-content: center;
}